@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

h1 {
    text-align: center;
    font-family: "Archivo Black", serif;
}
h2 {
    text-align: center;
    font-family: "Archivo Black", serif;
}
h3 {
    line-height: 0.1;
    font-family: "Archivo Black", serif;
}
h4 {
    text-align: center;
    font-family: "Archivo Black", serif;
}
p {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    min-width: 400px;
    font-family: "Montserrat", serif;
}
body{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    min-width: 400px;
    background-color: #404040;
    color: lightgray;
}
div {
    text-align: center;
}
ul {
    font-family: "Archivo Black", serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #107093;
}